/* General */

html, Body {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: hsl(0, 20%, 95%);
}


/* ^General^ */

/* Navigation */

header {
    background-color: rgb(212, 209, 209);
}

ul{
    text-align: center;
}

li {
    display: inline;
    padding-left: 4px;
    padding-right: 10px;
    font-size: 20px;
    transition: 0.2s;
}

li:hover {
    text-decoration: underline;
}

/* ^Navigation^ */



/* Main */

main {
    text-align: center;
}

h2 {
    padding-left: 4px;
}

.p0 {
    margin: auto;
    width: 600px;
    padding-left: 4px;
    text-align: justify;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    background-color: hsl(0, 20%, 80%);
    width: 300px;
    height: 50px;
    margin: 40px;
}

/* ^Main^ */

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: hsl(0, 10%, 80%);
    height: 140px;
    font-size: 18px;
}

/* ^Footer^ */

@media (max-width: 1800px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .p0 {
        width: 50%;
    }
}