<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/images/mo.ico" type="image/x-icon" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="google-site-verification" content="Ye3UstPD21iLTsZL5CAoopB3YcSSLXddvQzDpdjN3Y4" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="My portfolio and blog" />
    <meta name="theme-color" content="#272727" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/styles/main.css">
    <script src="/assets/scripts/main.js" defer></script>
</head>