@mixin btn($btn-color) {
  height: 40px;
  min-width: 50px;
  background-color: $btn-color;
  padding: 10px 20px 10px 20px;
  border: hidden;
  transition: all ease-in 0.1s;

  &:hover {
    transition: all ease-out 0.1s;
    filter: brightness(60%);
  }
}
