@media only screen and (max-width: 1020px) {
    form {
        padding: 40px 30px 10px 30px;
        font-size: 18px;
    }
    
    input {
        width: 220px;
    }
    
    #valid {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
    
    button[type=submit] {
        padding: 4px 10px 4px 10px;
        font-size: 16px;
    }
}