$font-family: Verdana, Geneva, Tahoma, sans-serif;
$normal-font: 400;
$bold-font: 700;
$bolder-font: 900;
$bg-color: #fcfcfc;
$primary-color: #272727;
$secondary-color: #29f3c3;
$primary-shadow: #8b8eaf;
$secondary-shadow: #a17a69;
$line-height: 1.7rem;
$transition: 0.2s;
