hr {
    width: 45%;
    float: left;
    
}

hr.line {
    border: 1px solid rgb(5, 5, 5);
}

body {
    background-color: burlywood;
    margin-left: 186px;
    margin-right: 186px;
}

h4 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.VamSur {
    margin: 5px;
    border: 8px;
    padding: 10px 20px 20px 50px;
    border-style: dashed;
    border-radius: 4px;
    background-color: darksalmon;
    font-family: "Fira Sans Condensed", sans-serif;
}

.top {
    font-family: "Archivo Narrow", sans-serif;
    text-align: center;
    font-size: 30px;
}

.sec2 {
    margin: 0;
    border: 0;
    border-radius: 4px;
    padding: 40px 0px 40px 0px;
    background-color: burlywood;
    text-align: center;
}

img {
    height: 500px;
    width: 500px;
    border-radius: 4px;
}

#vampire-diaries {
    text-align: left;
}

#underworld {
    text-align: center;
}

#the-originals {
    text-align: right;
}

.nav {
    background-color: black;
    padding: 16px;
    border-radius: 4px;
}

.nav a {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 20px; 
    padding: 10px;
    color: white;
    text-decoration: none;
}

#right {
    float: right;
    padding: 0px;
}

.nav a:hover {
    background-color: white;
    color: black;
}