<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="./assets/images/mo.ico" type="image/x-icon" />
        <link rel="manifest" href="./site.webmanifest" />

        <meta
            name="google-site-verification"
            content="Ye3UstPD21iLTsZL5CAoopB3YcSSLXddvQzDpdjN3Y4"
            />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="My portfolio and blog"
            />
        <meta name="theme-color" content="#272727" />
        <title>{{ title }}</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <section>
                <a href="/blog">Blog</a>
            </section>
        </nav>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>Copyright &#169; {{ "now" | date: "%Y" }} Marvin Obig's Portfolio & Blog. All Rights Reserved.</p>
        </footer>
    </body>
</html>
