@import "/src/assets/SASS-Partials/variables";
@import "/src/assets/SASS-Partials/layout";

.skills {
  @include layout-flex(column, 50px);
  align-items: center;
}

.skillsContainer {
  @include layout-grid(4, 100px, 3, 100px, 10px);
  justify-items: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.imgContainer {
  @include layout-flex(column, 10px);
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 134px;
}

.skillImg {
  aspect-ratio: 1;
  width: 100%;
  max-width: 60px;
  transition: $transition;

  &:hover {
    transition: $transition;
    max-width: 100px;
  }
}

.skillName {
  display: none;
  color: $secondary-color;
  font-weight: $bold-font;
}

.title {
  text-transform: uppercase;
  color: $secondary-color;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .skillsContainer {
    @include layout-grid(2, 100px, 3, 100px, 20px);
  }
}
