/* navigation */
#navbar {
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 6;
}

/* welcome */
header {
    height: 100vh;
    width: 100%;
}

ul {
    text-align: center;
    padding: 14px 0px 14px 0px;
}

li {
    padding: 0px 50px 0px 50px;
}

#cent {
    text-align: center;
    position: relative;
    top: 40%;
    bottom: 50%;
}

/* services */
#services {
    text-align: center;
    height: auto;
    width: 100%;
}

#services h1 {
    position: relative;
    top: 90px;
}

#services hr {
    width: 30%;
    position: relative;
    top: 80px;
}

#flex-cont {
    min-height: 600px;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.service-tile {
    width: 400px;
    height: auto;
    margin: 40px 20px 80px 20px;
    transition: 0.2s;
}

.service-tile img{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.service-tile:hover {
    width: 420px;
}

/* contact */
#contact {
    height: 100vh;
    width: 100%;
}

#contact h1 {
    text-align: center;
    padding-top: 30px;
    position: relative;
    top: 34%;
}

#contact hr {
    position: relative;
    top: 35%;
    width: 60%;
}

#con-l {
    position: relative;
    top: 35%;
    text-align: center;
}

#profile-link {
    padding: 0px 20px 0px 20px;
    font-size: 56px;
    transition: 0.2s;
}

#contact-link {
    padding: 0px 20px 0px 20px;
    font-size: 56px;
    transition: 0.2s;
}

#contact-link2 {
    padding: 0px 20px 0px 20px;
    font-size: 56px;
    transition: 0.2s;
}

@media screen and (max-width: 1000px) {
    #flex-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .project-tile {
        width: 600px;
        height: auto;
    }

    .project-tile:hover {
        width: 620px;
    }
}