---
import "../styles/dist/global.css";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import ContactForm from "../components/ContactForm";
---

<html lang="en">
	<Head pageTitle="Marvin Obig"/>
	<body>
		<Navigation />
		<slot />
		<ContactForm client:only="react"/>
	</body>
</html>