body, #container {
    height: 100vh;
    background-color: pink;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border-radius: 4px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #0000004f;
}

#gridDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
    border-radius: 4px;
    padding: 2px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #0000004f;
}

.gridParent {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: auto;
    width: 100%;
}

.gridChild {
    min-height: 1px;
    min-width: 1px;
    flex: 1 1 auto;
    border: 0.4px solid rgba(0, 0, 0, 0.126);
}

input {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
}