@media only screen and (max-width: 720px) {
    #container {
        flex-direction: column;
        font-size: smaller;
    }

    #controls {
        flex-direction: row;
    }

    #gridDisplay {
        height: 300px;
        width: 300px;
    }
}
