---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
    main {
        min-height: 90vh;
        align-items: center;
        justify-content: center;
    }

    article {
        align-items: center;
    }
</style>

<BaseLayout pageTitle="Blog">
    <main>
        <article>
            <h1>404</h1>
            <p class="not-found">page not found</p>
        </article>
    </main>
</BaseLayout>
