---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";
import TagsModal from "../components/TagsModal.astro";

const allPosts = await getCollection("blog");
---

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
</style>

<BaseLayout pageTitle="Blog">
	<header>
		<h1>Posts</h1>
		<TagsModal />
	</header>

	<article>
		{allPosts.length === 0 && <p>Coming Soon 👀...</p>}

		{allPosts.map((post) => <PostCard post={post} />)}
	</article>
</BaseLayout>
