/* main body */
:root {
    --textColor: rgba(70, 65, 65, 0.885);
    --hover: rgba(255, 0, 0, 0.885);
}

#name p, #portfolio p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder; 
    font-size: 6.4vw;
    letter-spacing: 10px;
    transform: rotate(-90deg);
    color: var(--textColor);
}

/* navigation */
nav {
    font-family: 'Oswald', sans-serif; 
    font-size: 2vw;
    background-color: #ffffff;
}

hr {
    border: 1px solid #0000004f;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

a:hover {
    color: var(--hover);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #0000004f;
    border-radius: 2x;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* content */
.title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold; 
    font-size: 4vw;
    color: var(--textColor);
}

.info h2{
    word-wrap: break-word;
    font-family: 'Oswald', sans-serif; 
    font-size: 2.5vw;
    color: var(--textColor);
}

.info p {
    word-wrap: break-word;
    font-family: 'Oswald', sans-serif; 
    font-size: 1.8vw;
    color: var(--textColor);
    line-height: 30px;
}

.imgCount p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
}

.fa-arrow-left, .fa-arrow-right {
    font-size: 2.6vw;
    color: var(--textColor);
}

.fa-arrow-left:hover {
    color: var(--hover);
}

.fa-arrow-right:hover {
    color: var(--hover);
}

/* social media */
#socialMedia {
    background-color: var(--textColor);
    border-radius: 2rem;
}

.fa-instagram {
    background: none;
    color: #ffffff;
}