/* default page css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
}


/* main flex conatiner */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}


/* main navigation */
.mainNav {
  height: auto;
  width: auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.mainNav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.mainNav li {
  border-radius: 40px;
  padding: 5px 10px 5px 10px;
  margin: 12px;
  width: 140px;
  text-align: center;
}

.mNav {
  display: none;
}

#mobileContainer {
  display: none;
}


/* content container */
#introContainer {
  overflow-y: scroll;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


/* sub navigation */
.subNav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}

.subNav button {
  padding: 5px 10px 5px 10px;
  border-radius: 40px;
  width: 80px;
  text-align: center;
}


/* intro */
#intro {
  padding: 20px;
  text-align: justify;
}


/* script */
#script {
  overflow-y: scroll;
  padding: 20px;
  height: 400px;
}


/* videos */
#vidContainer {
  text-align: center;
}

video {
  height: auto;
  max-width: 600px;
  text-align: center;
}

#vidDescription {
  height: auto;
  max-width: 600px;
  margin: auto;
  text-align: justify;
  padding: 20px;
}


/*storyboard images */
#storyboardImg {
  height: auto;
  max-width: 400px;
  border-radius: 0.5em;
  margin: 20px;
}

#imgCounter {
  display: block;
}


/* footer */
footer {
  text-align: center;
  padding: 20px;
  width: 100%;
}