@media screen and (max-width: 800px) {
  * {
    overflow: hidden;
  }

  .container {
    flex-direction: column;
  }

  .mainNav ul {
    display: none;
    height: auto;
    font-size: 0.9rem;
  }

  .mainNav li {
    text-align: center;
    width: 100px;
    margin: 0px 20px 0px 20px;
  }

  .mainNav {
    width: 100%;
    padding: 20px;
  }

  main {
    justify-content: space-between;
    height: 100vh;
  }

  .mNav {
    display: block;
  }

  #mobileContainer {
    display: none;
    background-color: rgba(78, 69, 69, 0.2);
    height: auto;
    width: 100%;
    text-align: center;
    overflow: visible;
  }

  #mobileNav li{
    padding: 10px;
  }

  .subNav {
    font-size: 0.6rem;
  }

  .subNav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  #introContainer {
    overflow-y: scroll;
  }

  video {
    width: 350px;
  }

  #storyboardImg {
    margin: 40px;
  }
  
  #imgCounter {
    font-size: 26px;
  }

  #finalDescription {
    height: auto;
    max-width: 400px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
  }

  footer {
    overflow: visible;
  }
}

