@import "/src/assets/SASS-Partials/variables";
@import "/src/assets/SASS-Partials/layout";
@import "/src/assets/SASS-Partials/button";

.contact {
  @include layout-flex(column, 40px);
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.contactForm {
  @include layout-flex(column, 20px);
  justify-content: center;
  align-items: center;
  border: 4px solid $secondary-color;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.contactForm label {
  @include layout-flex(row, 10px);
  justify-content: center;
  align-items: center;
  border: 4px solid $secondary-color;
  border-radius: 4px;
  padding-left: 10px;
  width: 100%;
  max-width: 400px;
}

.contactForm input {
  border: none;
  background-color: $primary-color;
  padding: 10px;
  width: 100%;
  color: $text-color;

  &:focus {
    outline: none;
  }
}

.contactForm textarea {
  background-color: $primary-color;
  border: 4px solid $secondary-color;
  border-radius: 4px;
  height: 300px;
  width: 100%;
  padding: 10px;
  color: $text-color;
  resize: none;
}

.contactFormBtn {
  @include btn($secondary-color);
  @include layout-flex(row, 5px);
  justify-content: center;
  align-items: center;
}

.socialLinksContainer {
  @include layout-flex(row, 20px);
  justify-content: center;
  align-items: center;
  max-width: 100%;

  a {
    font-size: 50px;
    color: $secondary-color;
    transition: $transition;

    &:hover {
      transition: $transition;
      filter: brightness(80%);
    }
  }
}
