* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-wrap: pretty;
}

body {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: larger;
}

.nav-dropdown {
    display: flex;
    gap: 15px;
}

p {
    font-size: larger;
}

img {
    width: 100%;
}

.tech-icon {
    max-width: 30px;
}

.thumbnail {
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 250px;
}

.banner {
    aspect-ratio: 16/9;
    object-fit: cover;
}