@import "./SASS-Partials/variables";
@import "./SASS-Partials/layout";
@import "./SASS-Partials/button";

// general
body {
  background-color: $primary-color;
  font-family: $font-family;
  color: $text-color;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $text-color;
}

p {
  max-width: 100ch;
}

.btn {
  @include btn($secondary-color);
  @include layout-flex(row, 5px);
  justify-content: center;
  align-items: center;
}

// navigation
.nav {
  @include layout-flex(row, 0);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $primary-color;

  &__title {
    text-transform: uppercase;
    color: $secondary-color;
  }

  &__list {
    @include layout-flex(row, 60px);
    justify-content: center;
    max-width: 100%;
    list-style-type: none;
    padding: 0;

    &__link:hover {
      transition: $transition;

      &:hover {
        transition: $transition;
        text-decoration: underline;
        color: $secondary-color;
        filter: brightness(80%);
      }
    }
  }

  &__btn {
    display: none;
    font-size: 2rem;
    background-color: transparent;
    color: $secondary-color;
    cursor: pointer;
  }
}

// hero section
.header {
  @include layout-flex(row, 0);
  justify-content: space-around;
  padding: 40px;

  &__img {
    aspect-ratio: 1;
    width: 100%;
    max-width: 300px;
  }

  &__description {
    @include layout-flex(column, 10px);
    justify-content: space-between;
    max-height: 100%;

    &__title {
      text-transform: uppercase;
      color: $secondary-color;
    }
  }
}

// about
.about {
  margin-block: 80px;
  padding: 40px;

  &__title {
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  &__text {
    margin: 0 auto;
  }
}

// skills section
.skills {
  @include layout-flex(column, 0);
  margin-block: 80px;
  padding: 40px;

  &__title {
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  &__cards__container {
    @include layout-flex(row, 0);
    justify-content: space-around;

    &__card {
      &__title {
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 20px;
      }

      &__list {
        @include layout-flex(column, 20px);
        align-items: flex-start;

        &__skill {
          @include layout-flex(row, 10px);
          align-items: center;

          &__img {
            aspect-ratio: 1;
            width: 100%;
            max-width: 60px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// project section
.projects {
  margin-block: 80px;
  padding: 40px;

  &__title {
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  &__cards__container {
    @include layout-flex(row, 40px);
    justify-content: center;

    &__card {
      @include layout-flex(column, 20px);
      justify-content: space-between;
      max-height: 100%;

      &__header {
        &__title {
          text-transform: uppercase;
          color: $secondary-color;
          margin-bottom: 20px;
        }

        &__img {
          aspect-ratio: 1 / 1;
          width: 100%;
        }
      }

      &__actions {
        @include layout-flex(row, 10px);
      }
    }
  }
}

// contact
.contact {
  padding: 40px;

  &__container {
    @include layout-flex(row, 20px);
    justify-content: center;
    align-items: center;
    max-width: 100%;

    i {
      font-size: 50px;
      color: $secondary-color;
      transition: $transition;

      &:hover {
        transition: $transition;
        filter: brightness(80%);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    &__list {
      @include layout-flex(row, 60px);
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .header {
    @include layout-flex(column, 10px);
    align-items: center;
    max-width: none;
  }

  .skills {
    &__cards__container {
      @include layout-flex(column, 80px);
      flex-wrap: wrap;

      &__card {
        &__list {
          @include layout-flex(row, 20px);
          justify-content: space-around;

          &__skill {
            @include layout-flex(column, 10px);
            align-items: center;
          }
        }
      }
    }
  }

  .projects {
    &__cards__container {
      @include layout-flex(column, 40px);
      align-items: center;

      &__card {
        @include layout-flex(column, 20px);

        &__actions {
          @include layout-flex(row, 10px);
        }
      }
    }
  }
}
