/* General */

html, Body {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-top: 12px;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    background-color: hsl(0, 20%, 95%);
}


hr {
    border: 0.2px solid hsl(0, 0%, 31%);
    width: 86%;
}

/* ^General^ */



/* typography*/

body {
    font-family: 'Encode Sans Condensed', sans-serif;
}

h1 {
    font-size: 38px;
}

#intro h1 {
    font-family: 'Great Vibes', cursive; 
    font-size: 144px;
}

#intro h3 {
    font-size: 48px;
}

/* ^typography^ */



/* navigation */

li {
    display: inline;
    padding: 5px;
    font-size: 22px;
    transition: 0.2s;
}

li:hover {
    transition: 0.2s;
    font-size: 28px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

a {
    padding-right: 8px;
}

nav {
    text-align: right;
}

.top:hover {
    transition: 0.2s;
    border-bottom: 3px solid #000000;
}

/* ^navigation^ */



/* introduction */
header {
    position: relative;
    height: 100vh;
}

#intro {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 38%;
    text-align: center;
    line-height: 0;
}

#about {
    height: 100vh;
}

#about h1 {
    padding: 16px 0px 0px 76px;
}

#me {
    position: relative;
}

#simo {
    text-align: right;
    padding-right: 76px;
}

#sim {
    max-width: 28%;
    border-radius: 4px;
    box-shadow: -2px -2px 10px 0.5px rgba(0, 0, 0, 0.38), 2px 2px 10px 0.5px rgba(0, 0, 0, 0.38);
}

#info {
    position: absolute;
    top: 5%;
    text-align: justify;
    width: 900px;
    padding-left: 76px;
    overflow: hidden;
    font-size: 30px;
}

/* ^introduction^ */



/* collage */

#collage {
    height: 100vh;
}

.w1 {
    text-align: center;
    height: 700px;
}

.w1 img {
    max-width: 20%;
    height: 600px;
    border-radius: 4px;
}

#p1 {
    position: relative;
    top: 150px;
    left: 250px;
    box-shadow: -4px 0 20px 2px rgba(0, 0, 0, 0.28), 8px 0 20px 2px rgba(0, 0, 0, 0.68);
    z-index: 3;
    transition: 0.2s;
}

#p2 {
    position: relative;
    top: 150px;
    left: 75px;
    box-shadow: 8px 0 20px 2px rgba(0, 0, 0, 0.68);
    z-index: 2;
    transition: 0.2s;
}

#p2:hover {
    z-index: 6;
    transition: 0.2s;
    box-shadow: -8px -2px 20px 2px rgba(0, 0, 0, 0.68), 8px 2px 20px 2px rgba(0, 0, 0, 0.68);
    max-width: 60%;
    top: 100px;
}

#p3 {
    position: relative;
    top: 150px;
    right: 75px;
    box-shadow: 8px 0 20px 2px rgba(0, 0, 0, 0.68);
    z-index: 1;
    transition: 0.2s;
}

#p3:hover {
    z-index: 6;
    transition: 0.2s;
    box-shadow: -8px -2px 20px 2px rgba(0, 0, 0, 0.68), 8px 2px 20px 2px rgba(0, 0, 0, 0.68);
    max-width: 60%;
    top: 100px;
}

#p4 {
    position: relative;
    top: 150px;
    right: 225px;
    box-shadow: 8px 0 20px 2px rgba(0, 0, 0, 0.68);
    z-index: 0;
    transition: 0.2s;
}

#p4:hover {
    z-index: 6;
    transition: 0.2s;
    box-shadow: -8px -2px 20px 2px rgba(0, 0, 0, 0.68), 8px 2px 20px 2px rgba(0, 0, 0, 0.68);
    max-width: 60%;
    top: 100px;
}

#collage h1 {
    padding: 16px 0px 0px 76px;
}

/* ^collage^ */



/* digital art column 1 */
#digital-art {
    height: 100vh;
}

#digital-art h1 {
    padding: 16px 0px 0px 76px;
}

.c1 {
    display: inline-block;
    width: 400px;
    height: 450px;
    
}

.c1 img {
    display: block;
    width: 325px;
    height: 350px;
    border-radius: 4px;
    
}

#d1 {
    margin: 78px 0px 0px 150px;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
}

#d1:hover {
    width: 335px;
    height: 360px;
    transition: 0.2s;
}

#d2 {
    margin: 5px 0px 0px 150px;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
}

#d2:hover {
    width: 335px;
    height: 360px;
    transition: 0.2s;
}

/* ^digital art column 1^ */



/* digital art column 2 */

.c2 {
    display: inline-block;
    position: relative;
    right: 25px;
    width: 450px;
    height: 450px;
    
}

.c2 img {
    display: block;
    width: 760px;
    height: 550px;
    margin: 5px 0px 0px 160px;
    border-radius: 4px;
}

#d3 {
    position: relative;
    top: 70px;
    z-index: 1;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
}

#d3:hover {
    transition: 0.2s;
    z-index: 3;
    box-shadow: -8px -2px 20px 2px rgba(0, 0, 0, 0.68), 8px 2px 20px 2px rgba(0, 0, 0, 0.68);
    top: 50px;
}

#d4 {
    position: relative;
    bottom: 400px;
    z-index: 2;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
}

#d5 {
    position: relative;
    bottom: 880px;
    z-index: 1;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
}

#d5:hover {
    transition: 0.2s;
    z-index: 3;
    box-shadow: -8px -2px 20px 2px rgba(0, 0, 0, 0.68), 8px 2px 20px 2px rgba(0, 0, 0, 0.68);
    bottom: 900px;
}

/* ^digital art column 2^ */



/* digital art column 3 */

.c3 {
    display: inline-block;
    position: relative;
    top: 62px;
    left: 300px;
    width: 500px;
    height: 450px; 
}

.c3 img {
    display: block;
    width: 460px;
    height: 356px;
    margin: 10px 0px 0px 200px;
    border-radius: 4px;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
}

.c3 img:hover {
        width: 480px;
        height: 376px;
        transition: 0.2s;
}

/* ^digital art column 3^ */


/* photography */

#photography {
    height: 100vh;
}

#photography h1 {
    padding: 16px 0px 0px 76px;
}

.pc {
    text-align: center;
    height: 400px;
}

.pc img {
    position: relative;
    top: 80px;
    width: 330px;
    height: 256px;
    margin: 10px 0px 0px 25px;
    border-radius: 4px;
    box-shadow: -1px -1px 5px 0.5px rgba(0, 0, 0, 0.38), 1px 1px 5px 0.5px rgba(0, 0, 0, 0.38);
    transition: 0.2s;
}

.pc img:hover {
    transition: 0.2s;
    width: 350px;
    height: 276px;
}

/* ^photography^ */