@import "/src/assets/SASS-Partials/variables";
@import "/src/assets/SASS-Partials/layout";
@import "/src/assets/SASS-Partials/button";

.nav {
  @include layout-flex(row, 0);
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $primary-color;
}

.title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: $bolder-font;
  color: $secondary-color;
}

ul {
  @include layout-flex(row, 60px);
  justify-content: center;
  max-width: 100%;
  list-style-type: none;
  padding: 0;

  a:hover {
    transition: $transition;

    &:hover {
      transition: $transition;
      text-decoration: underline;
      color: $secondary-color;
      filter: brightness(80%);
    }
  }
}

.btn {
  display: none;
}

.active {
  @include layout-flex(column, 0);

  li {
    margin-block: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .btn {
    @include btn($secondary-color);
    @include layout-flex(row, 5px);
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    color: $secondary-color;
    background-color: transparent;
    cursor: pointer;
  }

  .nav {
    @include layout-flex(column, 0);
  }

  .logo {
    @include layout-flex(row, 0);
    justify-content: space-between;
    width: 100%;
  }

  ul {
    display: none;
  }
}
