---
import { getCollection } from "astro:content";
import moment from "moment";
const posts = await getCollection("blog");

---

<article>
    <header>
      <h2>Posts</h2>
      <a href="/blog">View More</a>
    </header>
    {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

    <section>
      {
        posts.length !== 0 &&
          posts
            .slice(0, 5)
            .map((post) => (
                <a href={`/posts/${post.slug}`}>{post.data.title}</p>
                <p>{moment(post.data.pubDate).format("dddd DD MMMM, YYYY")}</p>
                <p>{post.data.summary}</p>               
            ))
      }
    </section>
</article>