---
const currentYear = `${new Date().getFullYear()}`
---

<style>
    footer {
        padding: 20px;
        text-align: center;
    }
</style>

<footer>
    <p>Copyright &#169; {currentYear} Marvin Obig's Portfolio & Blog. All Rights Reserved.</p>
</footer>