---
const { pageTitle } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/mo.ico" type="image/x-icon" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <link
        rel="alternate"
        type="application/rss+xml"
        title="Portfolio Blog RSS Feed"
        href="https://marvinobig.online/rss.xml"
    />
    <meta
        name="google-site-verification"
        content="Ye3UstPD21iLTsZL5CAoopB3YcSSLXddvQzDpdjN3Y4"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
        name="description"
        content="View to learn a little about me, my skills, my work experience, my projects, how to contact me and also view my portfolio blog."
    />
    <meta name="theme-color" content="#272727" />
    <title>Marvin Obig: {pageTitle}</title>
</head>
