<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: sticky;
        top: 0;
        z-index: 6;
    }

    section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    nav > a, section > a {
        height: 44px;
        background-color: #272727;
        color: #fcfcfc;
        padding: 10px 20px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #29f3c3;
    }
</style>

<nav>
    <a href="/">Marvin Obig</a>
    <section>
        <a href="/blog">Blog</a>
        <a href="#contact">Contact</a>
    </section>
</nav>