---
const { tags } = Astro.props;
---

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-inline-start: 0px !important;
        gap: 20px;
    }
    
    ul li {
        list-style-type: none;
        background-color: #272727;
        color: #fcfcfc;
        padding: 10px;
        border: 2px solid #272727;
        text-transform: capitalize;
    }

    @media (prefers-color-scheme: dark) {
		ul li {
        background-color: #fcfcfc;
        color: #272727;
        border: 2px solid #fcfcfc;
    }
	}
</style>

<ul>
    {tags.map((tag) => <li>{tag}</li>)}
</ul>
