---
const {skills} = Astro.props;
---

<style>
    section {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 30px;
        max-height: 30px;
    }
</style>

<section>
    {skills.map((skill) => (
        <img src={skill.img} alt={skill.alt} />
    ))}
</section>