---
const { socials } = Astro.props;
---

<style>
    section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    section > a {
        background-color: #272727;
        color: #fcfcfc;
        padding: 10px 20px;
        text-decoration: underline;
    }

    @media (prefers-color-scheme: dark) {
        section > a {
            background-color: #fcfcfc;
            color: #272727;
        }
    }
</style>

<section>
    {
        socials.map((social) => (
            <a href={social.href} target="_blank">
                {social.text}
            </a>
        ))
    }
</section>
