---
const { tag } = Astro.props;
---

<style>
    a {
        background-color: #272727;
        color: #fcfcfc;
        padding: 10px;
        border: 2px solid #272727;
        text-transform: capitalize;
    }

    @media (prefers-color-scheme: dark) {
        a {
            background-color: #fcfcfc;
            color: #272727;
            border: 2px solid #fcfcfc;
        }
    }
</style>

<a href={`../tags/${tag}`}>{tag}</a>
