/* Navigation & header section */
header {
  background-color: #061f46;
  color: #f9faf8;
}

.hlogo {
  color: #f9faf8;
}

header ul li a {
  color: #e5e7eb;
}

.c-link {
  background-color: #3882f6;
  color: #f9faf8;
}
/* ^^ Navigation & header section ^^ */


/* Information section */
.card img {
  border: 2px solid purple;
}
/* ^^ Information section ^^ */


/* Quote section */
.quote {
  background-color: #e5e7eb;
  color: #1f2937;
}
/* ^^ Quote section ^^ */


/* Call to action section */
#cta-cont {
  background-color: #3882f6;
}

#cta-cont h3 {
  color: #f9faf8;
}

#cta-cont p {
  color: #e5e7eb;
}

#cta-link {
  border: 2px solid #f9faf8;
  background-color: #3882f6;
}

#cta-link a {
  color: #f9faf8;
}
/* ^^ Call to action section ^^ */


/* Footer section */
footer {
  background-color: #061f46;
  color: #e5e7eb;
}
/* ^^ Footer section ^^ */