/* General */

html, Body {
    padding: 0;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-image: url(../Images/Background.png);
}

/* ^General^ */

/* Typography */

#title {
    font-family: 'Carrois Gothic', sans-serif;
}

#img-caption {
    font-family: 'Voltaire', sans-serif;
}

main {
    font-family: 'Courier Prime', monospace;
}

#tribute-info {
    font-family: 'Courier Prime', monospace;
}

h5 {
    font-size: 20px;
}

header h5 {
    font-size: 16px;
}

a {
    text-decoration: underline;
}

/* ^Typography^ */

/* Images */

#image {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid black;
}

/* ^Images^ */

/* Card */

.card {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 800px;
    max-width: 800px;
    text-align: justify;
    padding: 12px 12px 12px 12px;
}

.card img {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
    border: 1px solid black;
}

/* ^Card^ */

/* Link */

#learn-more {
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
}

/* ^Link^ */

/* Color */

.card {
    background-color: #b410ca;
}

#title {
    background-color: #b410ca;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#img-caption {
    background-color: #b410ca;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#tribute-info {
    background-color: #b410ca;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
}

#learn-more {
    background-color: #b410ca;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* ^Color^ */

