@import "./assets/SASS-Partials/variables";
@import "./assets/SASS-Partials/layout";
@import "./reset.css";

* {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  font-family: $font-family;
  color: $text-color;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $text-color;
}

p {
  max-width: 100ch;
}
