/* Navigation */
#navigation {
    
}


/* "Me" Section */
#me h1 {
    font-size: 30px;
}


/* "Project" Section */
#projects h3 {
    font-weight: bold;
}

#projects p {
    
}


/* "Contact" Section */
#contact {
    font-size: ;
}

#contact h3 {
    font-weight: bold;
}