/* Navigation */
#navigation a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}


/* "Me" Section */
#me h1 {
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight: bolder;
}

#me p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}


/* "Project" Section */
#projects h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 26px;
}

.card p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}


/* "Contact" Section */
#contact {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

#contact h3 {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 26px;
}

#contact-form button {
    font-size: 20px;
}