@import "./partials/variables";
@import "./partials/layout";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $background-color1;
  font-family: $font-family;
  line-height: $line-height;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: $background-color2;
    border: 9px solid $background-color1;
  }

  ::-webkit-scrollbar-thumb {
    background: $background-color2;
    border: 7px solid $background-color1;
  }
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: $background-color1;
  background-color: $background-color2;
  padding: $content-padding;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  @include layout-flex(column, 0);
  align-items: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

main,
footer {
  @include layout-flex(column, 60px);
  width: 100%;
  padding: $site-padding;
}

nav,
main,
footer {
  max-width: $site-width;
}

footer {
  margin-top: 50px;
}

article {
  @include layout-flex(column, 40px);
  margin-top: 50px;
}

a:not([class]) {
  font-weight: $bolder-font;
  color: $background-color2;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

a,
p,
ul {
  font-size: $text-font-size;
}

ul,
ol {
  padding-inline-start: $site-padding;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style-type: square;
}

img,
picture {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  &:focus {
    outline: none;
  }
}

label,
textarea,
button {
  &:focus-within {
    outline: $border;
  }
}

form {
  section {
    @media screen and (max-width: 768px) {
      max-width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.date {
  font-weight: $bolder-font;
}

.error {
  color: $error-colour;
  text-transform: capitalize;
}

.not-found,
.success {
  font-weight: $bolder-font;
  text-transform: capitalize;
}

.success {
  color: $success-colour;
}

.project-slider-btn {
  top: 95% !important;

  svg {
    fill: $background-color1 !important;
    background-color: $background-color2;
    padding: 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: dark) {
  *,
  *::before,
  *::after {
    background-color: $background-color2;
    color: $background-color1;
  }

  ::-webkit-scrollbar-track {
    background: $background-color1;
    border: 9px solid $background-color2;
  }

  ::-webkit-scrollbar-thumb {
    background: $background-color1;
    border: 7px solid $background-color2;
  }

  h1,
  h2,
  h3 {
    color: $background-color2;
    background-color: $background-color1;
  }

  a:not([class]) {
    color: $background-color1;
  }

  .sliderContainer {
    border: 2px solid $background-color1 !important;
  }

  form {
    textarea,
    label {
      border: 2px solid $background-color1 !important;

      &:focus-within {
        outline: 2px solid $background-color1 !important;
      }
    }

    button {
      background-color: $background-color1 !important;
      color: $background-color2 !important;
      border: 2px solid $background-color1 !important;
    }
  }
}
