@import "/src/assets/SASS-Partials/variables";
@import "/src/assets/SASS-Partials/layout";
@import "/src/assets/SASS-Partials/button";

.about {
  @include layout-flex(row, 60px);
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 20px;
  line-height: 2.5rem;
}

.me {
  @include layout-flex(column, 50px);
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.title {
  text-transform: uppercase;
  color: $secondary-color;
}

.important {
  color: $secondary-color;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 26px;
}

.btn {
  @include btn($secondary-color);
  @include layout-flex(row, 5px);
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .about {
    @include layout-flex(column, 50px);
  }
}
